body{

font-family:Arial;

background:#f4f4f4;

}

.container{

width:600px;

margin:30px auto;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

#chatbox{

height:400px;

overflow-y:auto;

border:1px solid gray;

padding:10px;

margin-bottom:10px;

}

.user{

color:blue;

margin:10px;

}

.bot{

color:green;

margin:10px;

}

input{

width:80%;

padding:10px;

}

button{

padding:10px;

}